<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    <a href="#" class="list-group-item">Getting Started</a>
    <a href="#" class="list-group-item">Authen</a>
    <a href="#" class="list-group-item">Users</a>
    <a href="#" class="list-group-item">Resources</a>

  </div>
</div>
<!--/span-->