<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    <%= link_to "Getting Started", docs_path, :class => "list-group-item " + (current_page?(action: "index") ? "active" : "") %>
    <%= link_to "Auth", doc_auth_path, :class => "list-group-item " + (current_page?(action: "auth") ? "active" : "") %>
    <%= link_to "Users", doc_users_path, :class => "list-group-item " + (current_page?(action: "users") ? "active" : "") %>
    <%= link_to "Resources", doc_resources_path, :class => "list-group-item " + (current_page?(action: "resources") ? "active" : "") %>
  </div>
</div>
<!--/span-->