<div class="row row-offcanvas row-offcanvas-left">
	<%= render "menu" %>
	<p class="pull-left visible-xs">
		<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
	</p>
	<div class="col-xs-12 col-sm-9">
		<h1>Auth</h1>
		<div class="row">
			<div class="col-xs-12">
				<h3>Api Key</h3>
				<p>All request made to the Api requires a valid Api key. You can find the Api key on the application page for your application. The Api key should be put in the X-CLIENT-ID header. </p>
		

				<h3>User authenticating</h3>
				<p>Some request requires a valid user. To make a request to a protected resource you need to authenticate the user using oauth2.<br/>
				Put the returned token in the Authorization. <br/>
				header[Authorization] = Bearer 'Token'</p>
				<p>Doc not done</p>
			</div>
		</div>
	</div>
</div>