<div class="row row-offcanvas row-offcanvas-left">
	<%= render "menu" %>
	<div class="col-xs-12 col-sm-9">
		<p class="pull-left visible-xs">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
		</p>
		<div class="jumbotron">
			<h1>Hello, Developer!</h1>
			<p>
				This is the place to get started using the TOERH API. From here you can go to the docs or create an application.
			</p>
		</div>
		<div class="row">
			<div class="col-sm-6 col-lg-4">
				<h2>Applications</h2>
				<p>
					To use any end-point of the Api you need a valid Api key. To get a Api key you need to register an application.
				</p>
				<p>
					<a class="btn btn-warning" href="#" role="button">Create Application &raquo;</a>
				</p>
			</div>
			<!--/span-->
			
			<!--/span-->
		</div>
		<!--/row-->
	</div>
	<!--/span-->

	

</div><!--/row-->