// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 50px;
}

.highlight {
	background-color: gray;
}

.alertBox {
	min-height: 70px;
}

.hoverIcon:hover {
	cursor: pointer;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid;
}