<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<h1>{{resource.name}}</h1>
			<p>
				{{resource.description}}
			</p>
			<p>
				{{resource.url}} <a href="{{resource.url}}" target="_blank" title="Go to {{resource.url}}"><span class="glyphicon glyphicon-new-window"></span></a>
			</p>
			<hr />
			<div class="row">
				<div class="col-md-12">
					License: {{resource.license.name}}
					<br/>
					<small class="hoverIcon text-info" data-ng-click="toggleInfo('rlDesc')" data-ng-show="!rlDesc && resource.license.description">Read more...</small>
					<div data-ng-if="resource.license.description && rlDesc">
						<pre class="hidden-xs">
							<button type="button" class="close" aria-hidden="true" data-ng-click="toggleInfo('rlDesc')">&times;</button>
							{{resource.license.description}}	
						</pre>
						<p class="visible-xs">
							<button type="button" class="close" aria-hidden="true" data-ng-click="toggleInfo('rlDesc')">&times;</button>
							{{resource.license.description}}	
						</p>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					Type: {{resource.resourceType.name}}
					<br/>
					<small class="hoverIcon text-info" data-ng-click="toggleInfo('rtDesc')" data-ng-show="!rtDesc && resource.resourceType.description">Read more...</small>
					<div data-ng-if="resource.resourceType.description && rtDesc">
						<pre class="hidden-xs">
							<button type="button" class="close" aria-hidden="true" data-ng-click="toggleInfo('rtDesc')">&times;</button>
							{{resource.resourceType.description}}		
						</pre>
						<p class="visible-xs">
							<button type="button" class="close" aria-hidden="true" data-ng-click="toggleInfo('rtDesc')">&times;</button>
							{{resource.resourceType.description}}		
						</p>
					</div>
				</div>
			</div>

			<hr />
			<div class="row">
				<div class="col-md-12">
					<p>
						Tags: <br/>
						<ul class="list-inline">
							<li data-ng-repeat="tag in resource.tags">
								<span class="label label-primary">
									<span class="glyphicon glyphicon-tag"></span>
									{{tag}}
								</span>
							</li>
						</ul>
					</p>
				</div>
			</div>
			
			<hr />
			<div class="row">
				<div class="col-md-12">
					<span class="pull-left">
						<small>Created {{resource.createdAt | date: 'yyyy-MM-dd HH:mm'}} by {{resource.user.firstname}} {{resource.user.lastname}}.</small><br/>
						<small>Updated {{resource.updatedAt | date: 'yyyy-MM-dd HH:mm'}}.</small>
					</span>
				</div>
			</div>

			<div data-ng-if="isOwner">
				<div class="btn-group pull-right btn-group-sm">
  					<a class="btn btn-primary" ui-sref="resources.edit({id: resource.id})">Edit</a>
					<button class="btn btn-danger" data-ng-click="remove()">Delete</button>
				</div>		
			</div>
		</div>
	</div>
</div>