
<div class="col-md-12">
	<div class="col-md-3">
		<h6>Filter this page</h6>
		<hr />
		<ul class="list-unstyled">
			<li>
				<div class="input-group">
					<input type="text" class="form-control" data-ng-init="searchProp = 'Name'" data-ng-model="searchFilter" placeholder="Filter by..." />
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{searchProp}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li>
								<a data-ng-click="searchProp = 'Name'">Name</a>
							</li>
							<li>
								<a data-ng-click="searchProp = 'Description'">Description</a>
							</li>
							<li>
								<a data-ng-click="searchProp = 'Url'">Url</a>
							</li>
							<li>
								<a data-ng-click="searchProp = 'Tags'">Tags</a>
							</li>
						</ul>
					</div>				
				</div>		
			</li>
		</ul>
	</div>
	<div class="col-md-9">	
		<div class="dropdown hoverIcon" data-ng-init="orderProp = 'name'">
		 	<h6>
		 		<span class="dropdown-toggle" id="orderDropdownMenu" data-toggle="dropdown">
		 			Sort by: 
		  			<span class="sr-only">Dropdown</span>
		    		<span class="caret"></span>
		  		</span>
		  		<ul class="dropdown-menu" role="menu" aria-labelledby="orderDropdownMenu">
				    <li><a tabindex="-1" data-ng-click="orderProp = 'name'; reverse=!reverse">Name</a></li>
				    <li><a tabindex="-1" data-ng-click="orderProp = 'resourceType.name'; reverse=!reverse">Type</a></li>
				    <li><a tabindex="-1" data-ng-click="orderProp = 'license.name'; reverse=!reverse">License</a></li>
				    <li><a tabindex="-1" data-ng-click="orderProp = 'createdAt'; reverse=!reverse">Date</a></li>
			  	</ul>
			</h6>
		  
		</div>
		<hr />
		<p data-ng-if="resources.length === 0">
			No resources matches the search
		</p>
		<ul class="list-unstyled resourceList">
			<li data-ng-repeat="item in resources | sorter:searchProp:searchFilter | orderBy:orderProp:reverse track by $index" class="panel panel-default">
				<div class="panel-body">
					<a ui-sref="resources.show({id: item.id})"><h3 data-ng-bind-html="item.name | Highlight:searchFilter:searchProp:'Name'"></h3></a>
					
					<p data-ng-bind-html="item.description | Highlight:searchFilter:searchProp:'Description'">
					</p>
					
					<p>
						License: {{item.license.name}}
					</p>

					<p>
						Type: {{item.resourceType.name}}	
					</p>

					<p>
						Url: <span data-ng-bind-html="item.url | Highlight:searchFilter:searchProp:'Url'"></span> <a href="{{item.url}}" target="_blank" title="Go to {{item.url}}"><span class="glyphicon glyphicon-new-window"></span></a>
					</p>

					<p>
						<ul class="list-inline pull-left">
							<li data-ng-repeat="tag in item.tags">
								<span class="label label-primary">
									<span class="glyphicon glyphicon-tag"></span>
									<span data-ng-bind-html="tag | Highlight:searchFilter:searchProp:'Tags'"></span>
								</span>
							</li>
						</ul>
								
						<span class="pull-right">
							<small>Created {{item.createdAt | date: 'yyyy-MM-dd'}} by {{item.user.firstname}} {{item.user.lastname}}.</small>
						</span>

					</p>
				</div>
			</li>
		</ul>
		<p data-ng-if="pager">
			<ul class="pager">
		  		<li class="previous" data-ng-class="{disabled: pager.page === 1}" data-ng-click="changePage()"><a>&larr; Prev</a></li>
		  		{{pager.page}} / {{pager.pages}}
		  		<li class="next" data-ng-class="{disabled: pager.page === pager.pages}" data-ng-click="changePage(true)"><a>Next &rarr;</a></li>
			</ul>
		</p>

		
	</div>
</div>