<div class="col-md-12">
	<form role="search">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group">
					<label class="control-label sr-only" for="searchQ">Search query</label>
					<input type="text" class="form-control" id="searchQ" data-ng-model="search.q" placeholder="Search for resources..." />
					<span class="input-group-btn">
			        	<button  data-ng-click="doSearch()" class="btn btn-primary">
			        		<span class="glyphicon glyphicon-search"></span>
			        		<span class="sr-only">Search</span>
			        	</button>
			      	</span>
				</div>
				<span class="help-block hoverIcon" data-ng-click="advancedSearch = !advancedSearch">
					Advanced search 
					<span class="caret" data-ng-class="{'caret-reversed': advancedSearch}"></span>
				</span>
			</div>
		</div>
		<div class="row" data-ng-show="advancedSearch">
			<div class="well col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-3">	
						<label for="tags" class="control-label">Tags</label>	
					  	<div class="input-group input-group-sm">
							<input type="text" data-ng-model="tag" data-ng-minlength="2" data-ng-maxlength="20" maxlength="20" class="form-control" placeholder="Add Tag..." autocomplete="off" id="tags" name="tags" data-ng-keypress="addTag($event)" />
							<span class="input-group-btn ">
					        	<button data-ng-click="addTag()" class="btn btn-primary">
					        		<span class="glyphicon glyphicon-plus"></span>
				        			<span class="sr-only">Add</span>
					        	</button>
					      	</span>
						</div>
						<ul class="list-inline tagsList">
							<li data-ng-repeat="tag in search.tags track by $index">
								<span class="label label-primary">
									<span class="glyphicon glyphicon-tag"></span>
									{{tag}}
									<span data-ng-click="removeTag($index)" class="hoverIcon">&times;</span>
								</span>
							</li>
						</ul>
					</div>

					<div class="col-md-3">
						<label for="licenses" class="control-label">Licenses</label>
						<div class="form-group">
							<select class="form-control input-sm" name="licenses" id="licenses" data-ng-model="search.license" data-ng-options="r.name for r in licenses">
								<option value="">Add license</option>
							</select>
						</div>

						<ul class="list-inline">
							<li data-ng-repeat="license in search.licenses track by $index">
								<span class="label label-primary">
									{{license.name}}
									<span data-ng-click="removeLicense($index)" class="hoverIcon">&times;</span>
								</span>
							</li>
						</ul>
						
					</div>
				
					<div class="col-md-3">
						<label for="resourceTypes" class="control-label">Types</label>
						<div class="form-group">
							<select class="form-control input-sm" name="resourceTypes" id="resourceTypes" data-ng-model="search.resourceType" data-ng-options="r.name for r in resourceTypes">
								<option value="">Add type</option>
							</select>
						</div>
					
						<ul class="list-inline">
							<li data-ng-repeat="resourceType in search.resourceTypes track by $index">
								<span class="label label-primary">
									{{resourceType.name}}
									<span data-ng-click="removeResourceType($index)" class="hoverIcon">&times;</span>
								</span>
							</li>
						</ul>
					</div>
				
					<div class="col-md-3">
						<label for="user" class="control-label">User</label>
						<div class="form-group">	
							<input class="form-control input-sm" name="user" id="user" data-ng-model="search.user" placeholder="User..." />
						</div>
					</div>
				</div>

				<div class="row hidden-sm">
					<div class="col-md-3">
						<span class="help-block">{{search.tags.length}}/20, <span class="hoverIcon" data-ng-click="search.tags = []">clear</span></span>
					</div>
					<div class="col-md-3">
						<span class="help-block">{{search.licenses.length}}/20, <span class="hoverIcon" data-ng-click="search.licenses = []">clear</span></span>
					</div>
					<div class="col-md-3">
						<span class="help-block">{{search.resourceTypes.length}}/20, <span class="hoverIcon" data-ng-click="search.resourceTypes = []">clear</span></span>
					</div>
				</div>
			</div>
		</div>	
	</form>
</div>	


<div data-ng-include="'assets/resources.html'" data-ng-controller="ResourcesCtrl" class="row"></div>