<div class="col-xs-12">
	<form role="search">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="input-group">
					<label class="control-label sr-only" for="searchQ">Search query</label>
					<input type="text" class="form-control" id="searchQ" data-ng-model="search.q" placeholder="Search for resources..." />
					<span class="input-group-btn">
			        	<button data-ng-click="doSearch()" class="btn btn-primary">
			        		<span class="glyphicon glyphicon-search"></span>
			        		<span class="sr-only">Search</span>
			        	</button>
			      	</span>
				</div>
				<span class="help-block hoverIcon" data-ng-click="advancedSearch = !advancedSearch">
					Advanced search 
					<span class="caret" data-ng-class="{'caret-reversed': advancedSearch}"></span>
				</span>
			</div>
		</div>
		<div class="row" data-ng-show="advancedSearch">
			<div class="well col-xs-10 col-xs-offset-1">
				<div class="row">
					<div class="col-xs-2">		
					  	<div class="input-group input-group-sm">
							<label for="tags" class="control-label sr-only">Tags</label>
							<input type="text" data-ng-model="tag" data-ng-minlength="2" data-ng-maxlength="20" maxlength="20" class="form-control" placeholder="Add Tag..." autocomplete="off" id="tags" name="tags" data-ng-keypress="addTag($event)" />
							<span class="input-group-btn ">
					        	<button data-ng-click="addTag()" class="btn btn-primary">
					        		<span class="glyphicon glyphicon-plus"></span>
				        			<span class="sr-only">Add</span>
					        	</button>
					      	</span>
						</div>
						<span class="help-block">{{search.tags.length}}/20 tags, <span class="hoverIcon" data-ng-click="search.tags = []">clear tags</span></span>
					</div>
					<div class="col-xs-10">
						<ul class="list-inline">
							<li data-ng-repeat="tag in search.tags track by $index">
								<span class="label label-default">
									<span class="glyphicon glyphicon-tag"></span>
									{{tag}}
									<span data-ng-click="removeTag($index)" class="hoverIcon">&times;</span>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="dropdown" data-ng-class="{'open': false}" data-ng-init="orderProp = 'name'">
					 		Sort by: 
					 		<span id="orderDropdownMenu">
					  			<span class="sr-only">Dropdown</span>
					    		<span class="caret"></span>
					  		</span>
					  		<ul class="dropdown-menu" role="menu" aria-labelledby="orderDropdownMenu">
							    <li><a tabindex="-1" data-ng-click="orderProp = 'name'">Name</a></li>
							    <li><a tabindex="-1" data-ng-click="orderProp = 'resourceType.name'">Type</a></li>
							    <li><a tabindex="-1" data-ng-click="orderProp = 'license.name'">License</a></li>
							    <li><a tabindex="-1" data-ng-click="orderProp = 'createdAt'">Date</a></li>
						  	</ul>		  
					</div>
				</div>
			</div>
		</div>	
	</form>
</div>	


<div data-ng-include="'assets/resources.html'" data-ng-controller="ResourcesCtrl" class="row"></div>