<div data-ng-app="TOERH">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="resources.search">TOERH</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a ui-sref="resources.search">Home</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if @logged_in %>
					<li>
						<a ui-sref="resources.search">My Resources</a>
					</li>
					<li>
						<a href="#">Sign out</a>
					</li>
					<% else %>
					<li>
						<%= link_to "Sign in", "/auth/toerh" %></li>
					<% end %></ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div data-ui-view></div>
	</div>
</div>