<div data-ng-app="TOERH">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" data-ng-href="#/resources/">TOERH</a>
			</div>
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a data-ng-href="#/resources/" >Home</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li data-auth="true">
						<a data-ui-sref="resources.me">My Resources</a>
					</li>
					<li data-auth="true">
						<a data-ui-sref="resources.create">New Resources</a>
					</li>
					<li data-auth="true">
						<a data-ui-sref="logout" href="">Sign out</a>
					</li>
					<li data-auth="false">
						<%= link_to "Sign in", "/auth/toerh" %>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 alertBox">
				<div data-alerter></div>
			</div>
		</div>
		<div data-ui-view></div>
	</div>
</div>